
*{
    box-sizing: border-box;
}

body{
   height: 1000px;
   background-color: rgb(203, 248, 248);
}   

.place{
    height: 730px;
    display: flex;
    justify-content: end;
    align-items: end;
    
}
.container{
    display: flex;
    width: 250px;
    position: fixed;
    
}



.panel {
    height: 300px; 
    background-size: cover;
    background-position: center;
    flex:1;
    margin: 10px;
    border-radius: 10px;
}

