
*{
    box-sizing: border-box;
}

body{
    background-image: none;
    background-size: cover;
    background-repeat:no-repeat;
    

} 

.place{
    height: 730px;
    display: flex;
    justify-content: end;
    align-items: end;
    
}
.container{
    display: flex;
    width: 250px;
    position: fixed;
    
}



.panel {
    height: 300px; 
    background-size: cover;
    background-position: center;
    flex:1;
    margin: 10px;
    border-radius: 10px;
    
}

.select{
    
    display: none;
}



