*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{

    height: auto;
    width: auto;
    
    background-color: lightcyan;


}


.color{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content:center;
    top: 270px;

}

.remove{

    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px;
    top: 500px;
}

button{
    color: azure;
    height: 60px;
    width: 150px;
    margin:10px;
    padding: 10px;
    border-radius: 20px;
    

}

button.red{

    background-color: rgb(255, 55, 55);
}

button.green{

    background-color: rgb(53, 255, 53);
}

button.blue{

    background-color: rgb(40, 40, 255);
}

button.erase{

    background-color: rgba(0, 0, 0, 0.734);

}

