
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:aliceblue;
    text-shadow: 4px 4px grey;
}

body{

    height: 768px;
    width: 1400px;
    display: flex;
    

}

section.container{
    display: flex;
    width: 1400px;
    justify-content: center;
    align-items: center;
}

div.result-field{

    
    height: 350px;
    width: 700px;
    background-color: rgb(193, 131, 255);
    box-shadow: 5px 5px 3px grey;
    border-radius: 10px;
}

div.result-images{

    display: flex;
    justify-content: space-between;

}

span.user-image{

    margin-top: 20px;
    margin-left: 50px;
    transform: rotate(90deg);
}

span.cpu-image{

    margin-top: 20px;
    margin-right: 50px;
    transform: rotate(-90deg) rotateY(180deg);
}

div.result{
    font-size: 30px;
    display: flex;
    justify-content: center;

}

div.option{

    display: flex;
    justify-content: center ;
    
}

div.option img{

    
    height: 80px;
    width: 80px;
}