
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    font-weight: 1000;
    overflow-x:hidden;

}

a{
    text-decoration: none;

}
.center{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    position: fixed;
    top:0px;
    left: 0px;
    right: 0px;
    width: auto;
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: azure;
    margin: 0px;
    box-shadow: 0px 7px 4px lightgray;
    z-index: 10;
    overflow: visible;
    
}

.logoContainer{

    height: 50px;
    width: 100px;
    background-color:azure;
    font-size: larger;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    transition: transform 0.5s ease;
    transform: translateX(-200%);
}

.apply{
    transform: translateX(0);
}

.search{
    display: flex;
    overflow: hidden;
  
   
}

.inputSearch {
    outline: none;
    border: none;
    border-left: 2px solid rgb(100, 100, 100); /* Add this line */
    background: transparent;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 0px;
    padding-left: 4px;
    transition: width 0.5s ease;
}

.search:hover .inputSearch{
    width: 90px;
}

i.fas.fa-search{
    overflow: hidden;
}



div.list{
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 45px;
    
}
li{
    list-style-type: none;
    
}

.Packsblock{
    display: none;
}

.Packsblock-stage1{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drop{

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 100vw;
    background-color: azure;
    box-shadow: 0px 7px 4px lightgray;
    position: absolute;
    top: 50px;
    left: 0px;


}




.login{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 45px;

}

i{
    margin-left: 25px;
}


.photo{

    position:static;
    left: 0px;
    right: 0px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    height: 800px;
    background-image:url(/scroll+fixedAnimation/background.jpg);
    background-size: cover;
    background-position: right;
    font-size: 25px;
}

.scroll-1{
    
    height: 400px;
    width: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.box1{

    margin: 10px;
    background-image: url(/scroll+fixedAnimation/box1.jpg);
    background-size: cover;
    background-position: center;
    height:360px;
    width: 500px;
    transform: translateX(-400%);
    transition: transform 0.4s ease;
    

}

.box2{
    margin: 10px;
    background-image:url(/scroll+fixedAnimation/box2.jpg);
    background-size: cover;
    background-position: center;
    height:360px;
    width: 500px;
    transform: translateX(400%);
    transition: transform 0.4s ease;
    
}

.box3{

    margin: 10px;
    background-image: url(/scroll+fixedAnimation/box1.jpg);
    background-size: cover;
    background-position: center;
    height:360px;
    width: 500px;
    transform: translateX(-400%);
    transition: transform 0.4s ease;

}

.box4{

    margin: 10px;
    background-image:url(/scroll+fixedAnimation/box2.jpg);
    background-size: cover;
    background-position: center;
    height:360px;
    width: 500px;
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.show{

    transform: translateX(0);
}
.price{

    position: relative;
    left: 30px;
    top: 20px;
}

.drag{


    display: flex;
    grid-gap: 10px;
    height: 400px;
    width: 1200px;
    overflow-x:scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    
}

.itme{
    
    height: 400px;
    min-width: 390px;
    z-index: 4;
    background-size: cover;
    background-position: center;
    
}   

.footer{
    display: flex;
    background-color: rgb(183, 183, 183);
    width: auto;
    height: 400px;
    margin-top: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.footer a{
    margin-top: 10px;
}

.product-info{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 0px;
   
}



.orders{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 0px;
 
}

.service{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 0px;
}

.footer div{
    flex: 1;
    
}