
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');



*{
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    font-weight: 1000;
    
}

.center{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    position: fixed;
    top:0px;
    left: 0px;
    right: 0px;
    width: auto;
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 50px;
    background-color: azure;
    margin: 0px;
    box-shadow: 0px 7px 4px lightgray;
    z-index: 10;
    
}

.logoContainer{

    height: 50px;
    width: 100px;
    background-color: black;
    font-size: larger;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}


div.list{
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 45px;
}
li{
    list-style-type: none;
}


.photo{

    position:static;
    left: 0px;
    right: 0px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    height: 800px;
    background-image:url(/scroll+fixedAnimation/background.jpg);
    background-size: cover;
    background-position: right;
    font-size: 25px;
}

.scroll-1{
    
    height: 400px;
    width: 1200px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.box1{

    margin: 10px;
    background-image: url(/scroll+fixedAnimation/box1.jpg);
    background-size: cover;
    background-position: center;
    height:360px;
    width: 500px;
    transform: translateX(-400%);
   transition: transform 0.4s ease;
    

}

.box2{
    margin: 10px;
    background-image:url(/scroll+fixedAnimation/box2.jpg);
    background-size: cover;
    background-position: center;
    height:360px;
    width: 500px;
    transform: translateX(400%);
    transition: transform 0.4s ease;
    
}

.box3{

    margin: 10px;
    background-image: url(/scroll+fixedAnimation/box1.jpg);
    background-size: cover;
    background-position: center;
    height:360px;
    width: 500px;
    transform: translateX(-400%);
    transition: transform 0.4s ease;

}

.box4{

    margin: 10px;
    background-image:url(/scroll+fixedAnimation/box2.jpg);
    background-size: cover;
    background-position: center;
    height:360px;
    width: 500px;
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.show{

    transform: translateX(0);
}
.price{

    position: relative;
    left: 30px;
    top: 20px;
}

.drag{


    background-color: antiquewhite;
    display: flex;
    grid-gap: 10px;
    height: 400px;
    width: 1200px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    
}

.itme{

    height: 400px;
    min-width: 390px;
    z-index: 4;
    
}   